name: unittest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container: alpine/helm:3.13.2
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Install unittest bin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Run unittest
        run: helm unittest -t JUnit -o test_result.xml .

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.11.0
        if: always()
        with:
          files: |
            test_result.xml
